body {
	font-family: "poppins", sans-serif;
}

/*! UTILITY */

h1.header-h1 {
	font-size: 36px;
	font-weight: 600;
	margin: 10px 0;
}
p.header-p {
	font-size: 14px;
	font-weight: 300;
	color: #777;
	line-height: 22.75px;
	padding: 15px 0;
}
button.tombol {
	background-image: linear-gradient(to right, #6d7bff, #53b7ff);
	padding: 0 30px;
	line-height: 40px;
	color: white;
	font-size: 14px;
	font-weight: 500;
	border-radius: 0px;
	border: 0px;
	transition: 0.5s;
	box-sizing: border-box;
}
button.tombol:hover {
	box-shadow: 0 15px 30px rgb(223, 223, 223);
	transition: 0.5s;
}

/*! NAVBAR */

.main-navbar {
	background-color: white;
	font-size: 12px;
	transition: 0.5s;
	padding: 15px 0;
}
.main-navbar button:focus {
	outline: none;
	border: 1px solid #c2c2c2;
}
.main-navbar-shadow {
	box-shadow: 0 5px 30px #dadada;
	transition: 0.5s;
}
.main-navbar ul li {
	margin-right: 15px;
}
.main-navbar ul li a {
	color: black !important;
	transition: 0.3s;
	font-size: 12px;
	font-weight: 500;
}
.main-navbar ul li a:hover {
	color: #0084ff !important;
	transition: 0.3s;
}
.main-navbar a.active {
	color: #0084ff !important;
}

/*! NAME */

.name {
	background-color: #f9f9ff;
}
.name h4 {
	font-size: 14px;
	font-weight: 400;
}
.name h1 {
	font-size: 60px;
	font-weight: 600;
	margin: 20px 0;
}
.name button.tombol {
	background-image: linear-gradient(to right, #6d7bff, #53b7ff);
	padding: 0 30px;
	line-height: 40px;
	color: white;
	font-size: 14px;
	font-weight: 500;
	border-radius: 0px;
	border: 0px;
	transition: 0.5s;
	box-sizing: border-box;
}
.name-left {
	margin: 16% 0 0 0;
}
.name-right {
	margin: 6% 0 0;
}

/*! PROJECT COMPLETED */

.project-completed {
	background-image: linear-gradient(to right, #6d7bff, #53b7ff);
	padding: 7% 0;
	color: white;
	margin-top: 10%;
}
.project-completed h1 {
	font-weight: 700;
	font-size: 36px;
}
.project-completed p {
	font-size: 15px;
}

/*! POSTS */

.post {
	background-color: #f9f9ff;
	padding: 7% 0;
	margin-top: 10%;
}
.posts {
	cursor: pointer;
}
.posts:hover .posts-text h4 {
	color: #8490ff;
	transition: 0.3s;
}
.posts .user {
	border-bottom: 1px solid #e6e6e6;
}
.posts-text h4 {
	font-weight: 700;
	font-size: 18px;
	margin-top: 35px;
	transition: 0.3s;
}
.posts-text p {
	font-size: 14px;
	margin-top: 10px;
	color: #777;
	font-weight: 400;
}
.post span:hover {
	color: #aaaaaa;
}
.post img:hover {
	transform: scale(1.07);
	transition: 0.4s;
}
.post img {
	transition: 0.4s;
}
.user p {
	margin-top: 15px;
}
.user {
	display: flex;
	flex-direction: row;
	padding: 5px 0;
}
.user-left {
	display: flex;
	justify-content: center;
	align-items: center;
}
.user-right {
	display: flex;
	margin-left: auto;
	align-items: center;
	justify-content: center;
}
.user-right .content {
	padding-left: 10px;
}

/*! SPONSOR */

.sponsors {
	min-height: 200px;
	background-image: linear-gradient(to right, #6d7bff, #53b7ff);
}
.sponsors img {
	opacity: 0.6;
	transition: 0.3s;
}
.sponsors img:hover {
	opacity: 1;
	transition: 0.3s;
	cursor: pointer;
}

/*! CONTACT */

.contact {
	background-color: #04091e;
	padding: 9% 0;
}
.contact h4 {
	color: white;
	font-weight: 600;
	font-size: 18px;
	margin: 30px 0;
}
.contact p {
	font-size: 14px;
	line-height: 24px;
	color: #777;
	font-weight: 400;
}
.contact input {
	height: 45px;
}
.contact .news-input input {
	border-radius: 0;
}
.contact .news-input span {
	width: 50px;
	height: 45px;
	background-color: #8490ff;
	color: white;
}
.contact .socmed a {
	margin-right: 15px;
	color: white;
}
.contact .socmed a:hover {
	color: #8490ff;
	transform: scale(0.9);
}
.contact a#name {
	color: #8490ff;
	text-decoration: none;
}

/** PHONE VERSION */

@media (max-width: 480px) {
	.name h4 {
		font-size: 12px;
	}
	.name h1 {
		font-size: 45px;
		margin: 10px 0;
	}
	.name p {
		font-size: 13px;
		padding: 0 10px 10px 0;
	}
	h1.header-h1 {
		font-size: 30px;
		margin: 10px 0 0;
	}
	p.header-p {
		font-size: 13px;
		padding: 15px 0;
	}
	.name-right {
		width: 250px;
		margin: 70px 0 50px;
	}
	.project-completed {
		margin: 0;
		padding: 10% 0;
	}
}

@media screen and (max-width: 576px) {
	.completed {
		margin: 20px 0;
	}
}

@media screen and (max-width: 756px) {
	.user {
		flex-direction: row !important;
		justify-content: space-between !important;
	}
	.user-right {
		margin-right: 0 !important;
	}
}

@media (max-width: 992px) {
	.name-right {
		display: grid;
		place-items: center;
	}
	.user {
		flex-direction: column;
	}
	.user-left {
		justify-content: left;
	}
	.user-right {
		margin-left: 0;
		margin-right: auto;
	}
	.user-right .content {
		padding-left: 0;
		padding-right: 10px;
	}
}
@media (max-width: 1200px) {
	.sponsors .container {
		display: flex;
		flex-wrap: wrap;
		padding: 50px 0;
	}
	.sponsors img {
		margin: 30px;
	}
}
